[user]
	email = wys@zhihu.com
	name = wang yashu
[core]
	excludesfile = /Users/asuka/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[alias]
	br = branch
	co = checkout
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	stav = stash show -p stash@{0}
	stals = stash list
	stad = stash drop stash@{0}
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
